
.masonry-grid {
  column-count: 5;
  column-gap: 5px;
  row-gap: 5px;
  padding: .25rem;
}

.masonry-item {
  break-inside: avoid;
}

@media (max-width: 480px) {
  .masonry-grid {
    column-count: 3;
  }
}

